.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: start;
}

#search-form {
    margin-bottom: 30px;
}
#search-bar{
    position:absolute;
}

#checkbox {
    position:relative;
    top:30px;
}

